apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-jellyfin-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 150Gi
  storageClassName: local-storage
  volumeName: pv-jellyfin-config
