---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-ui

spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argocd.internal`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80

