apiVersion: v1
kind: PersistentVolume
metadata:
  name: seerr-config-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: "/storage/seerr-kubernetes"
    server: "10.0.0.15"
    readOnly: false
